.header__container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: flex-end;
  margin-top: 6px;
}

@media screen and (max-width: 720px) {
  .header__container {
    margin-right: 3px;
    margin-top: 16px;
  }
}
