.element__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .element__container {
    margin-right: 20px;
  }
}
